<div class="container-fluid" ng-init="goIfLocationNull('/location')">
  <div class="row content">
    <br>
    <div class="col-sm-2 sidenav hidden-xs">
      <h2>Tools</h2>
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="tool in tools">
          <p class="tool-label">{{tool.name}}</p>
          <img src="{{tool.image}}" class="tool-image"/>
        </li>
      </ul>
      <br>
    </div>
    <div class="col-sm-8">
      <div class="well">
        <h4>Game</h4>
        <p>Drag tools into the drop zones. Try and figure out which combinations yield the best results. What are the best results? Try to minimize the cost and risk, while maximizing the power. You are currently in {{getLocationByID(locID).name}}</p>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well green-bg">
            <div class="row">
              <div class="col-sm-3">
                <i class="fa fa-5x fa-usd" aria-hidden="true"></i>
              </div>
              <div class="col-sm-9">
                <p class="box-value">{{cost}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well yellow-bg">
            <div class="row">
              <div class="col-sm-3">
                <i class="fa fa-5x fa-bolt" aria-hidden="true"></i>
              </div>
              <div class="col-sm-9">
                <p class="box-value">{{power + 'kWh'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well red-bg">
            <div class="row">
              <div class="col-sm-3">
                <i class="fa fa-5x fa-exclamation-circle" aria-hidden="true"></i>
              </div>
              <div class="col-sm-9">
                <p class="box-value-extra-margin">{{'Risk: ' + risk}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>THIS IS WHERE YOU DROP TOOLS</p>
          </div>
        </div>
        <div class="col-sm-4">
          <button type="button" class="game-button btn btn-primary btn-lg">Submit</button>
          <button type="button" class="game-button btn btn-danger btn-lg">Reset</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 sidenav hidden-xs">
      <h2>Results</h2>
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="result in results">
          {{result}}
        </li>
      </ul><br>
    </div>
  </div>
</div>