<div class="container-fluid">
  <div class="row content">
    <br>
    <div class="col-sm-2 sidenav hidden-xs">
      <h2>Tools</h2>
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="tool in tools">
          <p class="tool-label">{{tool.name}}</p>
          <img src="{{tool.image}}" class="tool-image"/>
        </li>
      </ul>
      <br>
    </div>
    <div class="col-sm-8">
      <div class="well">
        <h4>Dashboard</h4>
        <p>Some text..</p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Users</h4>
            <p>1 Million</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Pages</h4>
            <p>100 Million</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Sessions</h4>
            <p>10 Million</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Bounce</h4>
            <p>30%</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
            <p>Text</p>
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
            <p>Text</p>
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
            <p>Text</p>
            <p>Text</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <button type="button" class="game-button btn btn-primary btn-lg">Submit</button>
          <button type="button" class="game-button btn btn-danger btn-lg">Reset</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 sidenav hidden-xs">
      <h2></h2>
      <ul class="nav nav-pills nav-stacked">
        <li>Result1</li>
        <li>Result2</li>
      </ul><br>
    </div>
  </div>
</div>