/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.tool-label {
	margin-right: 10px !important;
}

.tool-image {
	height: 50px !important;
}

.game-button {
	margin-left: 5px !important;
}

.yellow-bg {
	background-color: #f0ad4e;
    border-color: #eea236
}

.green-bg {
	background-color: #5cb85c;
    border-color: #4cae4c;
}

.red-bg {
	background-color: #d9534f;
    border-color: #d43f3a;
}

.box-value, .box-value-extra-margin {
	font-size: 1.5em!important;
	margin-top: 15px !important;
	margin-left: 5px !important;
}

.box-value-extra-margin {
	margin-left: 30px !important;
}

.location-picker-container {
	margin-top: 15% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 25% !important;
}